<nav class="globalNav">
  <ul class="globalNav__menu">
    <li><a href="{{ .Site.BaseURL }}diseno" aria-label="Ver proyectos de diseño" class="menu__item">Diseño</a></li>
    <li><a href="{{ .Site.BaseURL }}informacion" aria-label="Información sobre Ricardo Félix" class="menu__item">Información</a></li>
    <li><a href="{{ .Site.BaseURL }}notas" aria-label="Notas, anecdotas y apuntes personales" class="menu__item">Notas</a></li>
    <li><a href="{{ .Site.BaseURL }}entretiempo" aria-label="El newsletter de Ricardo Félix" class="menu__item">Entretiempo</a></li>
  </ul>
</nav>
