<div id="mc_embed_signup">
	<form action="//ricardofelix.us8.list-manage.com/subscribe/post?u=b412bc73aa573137010a43e4a&amp;id=dfb47feb72" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate >
			<div class="mc-field-group">
				<div class="form-items">
					<label for="mce-EMAIL" class="form-label">Tu email es </label>
					<input type="email" value="" name="EMAIL" class="required email form-input" placeholder="…" id="mce-EMAIL" onfocus="this.placeholder = ''" onblur="this.placeholder = '...'">
					<input type="submit" value="Suscribirse" name="subscribe" id="mc-embedded-subscribe" class="button">
				</div>
			</div>
			<div id="mce-responses">
			<div class="response" id="mce-error-response" style="display:none"></div>
			<div class="response" id="mce-success-response" style="display:none"></div>
			</div>
			<div style="position: absolute; left: -5000px;" aria-hidden="true">
				<input type="text" name="b_b412bc73aa573137010a43e4a_dfb47feb72" tabindex="-1" value="">
			</div>
			<small class="referal">No voy a mandar spam ni dar tu email para listas comerciales. El contenido de cada edición no está patrocinado por ningún medio, marca o agencia de promoción. Newsletter creado con <a href="http://eepurl.com/c3abDH" title="MailChimp - email marketing made easy and fun">MailChimp</a></small>
	</form>
</div>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>
	(function($) {
		window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';
		$.extend( $.validator.messages, {
			required: "Campo obligatorio.",
			remote: "Por favor, rellena este campo.",
			email: "Por favor, escribe una dirección de correo válida.",
			url: "Por favor, escribe una URL válida.",
			date: "Por favor, escribe una fecha válida.",
			dateISO: "Por favor, escribe una fecha (ISO) válida.",
			number: "Por favor, escribe un número válido.",
			digits: "Por favor, escribe sólo dígitos.",
			creditcard: "Por favor, escribe un número de tarjeta válido.",
			equalTo: "Por favor, escribe el mismo valor de nuevo.",
			extension: "Por favor, escribe un valor con una extensión aceptada.",
			maxlength: $.validator.format( "Por favor, no escribas más de {0} caracteres." ),
			minlength: $.validator.format( "Por favor, no escribas menos de {0} caracteres." ),
			rangelength: $.validator.format( "Por favor, escribe un valor entre {0} y {1} caracteres." ),
			range: $.validator.format( "Por favor, escribe un valor entre {0} y {1}." ),
			max: $.validator.format( "Por favor, escribe un valor menor o igual a {0}." ),
			min: $.validator.format( "Por favor, escribe un valor mayor o igual a {0}." ),
			nifES: "Por favor, escribe un NIF válido.",
			nieES: "Por favor, escribe un NIE válido.",
			cifES: "Por favor, escribe un CIF válido."
		} );
		}(jQuery));
		var $mcj = jQuery.noConflict(true);
</script>
