{{ define "main"}}
	<article class="designSingle__article">
		<header class="designSingle__header">
			<h1 class="designSingle__title">{{ .Title }}</h1>
			<p class="designSingle_tagline">
				{{ .Params.label }}
			</p>
		</header>
		
		<section class="layout single--{{ .Params.slug }}">
			{{ range .Params.images }}
				<div class="designSingle__image">
					<img src="{{ . }}" alt="">
				</div>
			{{ end }}
			<div class="designSingle__excerpt">
				<p>
					{{ .Description }}
				</p>
			</div>
		</section>
		<section class="layout--full {{ .Params.slug }}">
			{{ .Content }}
		</section>
	</article>
{{ end }}
