{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}
<main class="page-container">
	<div class="side-content">
		<header>
			<h1 class="h3">{{ .Title }}</h1>
		</header>
		<div class="side-content--description">
			<p>
				{{ .Description }}
			</p>
			<h3>En capítulos anteriores.</h3>
			<script
			language="javascript"
			src="//ricardofelix.us8.list-manage.com/generate-js/?u=b412bc73aa573137010a43e4a&fid=9805&show=20"
			type="text/javascript">
			</script>
		</div>

	</div>
	<div class="main-container">
		<header>
			<h3>
				<a href="{{ .Site.BaseURL }}">Ricardo Félix →</a>
			</h3>
		</header>
		<section>
			{{ .Content }}
		</section>
	</div>
</main>
{{ partial "footer.html" . }}
