/*  ==========================================================================
    General
    ========================================================================== */
    html {
      height: 100%;
    }
    body {
      background-color: $color--light;
      background-color: white;;
      color: $color--dark;
      font-family: $font--primary;
      font-weight: 300;
      min-height: 100%;
      margin: 0;
      padding: 0;
      text-rendering: optimizeLegibility;
    }

/*  ==========================================================================
    Images
    ========================================================================== */

    img {
      display: block;
      height: auto;
      max-width: 100%;
    }

    a {
      color: $color--dark;
      &:hover,
      &:visited,
      &:active {
        color: $color--dark;
      }
    }
