/* ==========================================================================
   Variables
   ========================================================================== */

  $font--primary:          "Value Serif", monospace;

  $color--dark:            #000000; //171e26
  $color--light:           #fff;
  $color--primary:         #12656b;
  $color--secondary:       #8f91a2;

  $break-small:            em(468);
  $break-medium:           em(720);
  $break-large:            em(1280);
  $break-xlarge:           em(1600);
