/*  ==========================================================================
    General
    ========================================================================== */
    *, *:before, *:after {
      box-sizing: inherit;
    }

    html {
      height: 100%;
      box-sizing: border-box;
    }
    body {
      background-color: $color--light;
      color: $color--dark;
      font-family: $font--primary;
      // font-variation-settings: "wght" 300;
      min-height: 100%;
      margin: 0;
      padding: 0;
      width: calc(100vw - 32px);
      text-rendering: optimizeLegibility;
      // @media (prefers-color-scheme: dark) {
      //   background: $color--dark;
      //   color: $color--light;
      // }
    }

    .pageLayout {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
    }

/*  ==========================================================================
    Images
    ========================================================================== */

    img {
      display: block;
      height: auto;
      max-width: 100%;
    }

    figure {
      margin: 0;
    }

    a {
      color: $color--dark;
      text-decoration: none;
      &:visited {
       color: $color--primary;
      }
      &:hover,
      &:active {
        cursor: url(/images/circle.svg),auto;
		color: $color--primary;
        text-decoration: none;
      }
    }