/* ~~~~~~~~~~~~~~~~~~~~~
Theme typography
~~~~~~~~~~~~~~~~~~~~~ */
h1 {
	font-size: calc(28px + (30 - 24) * ((100vw - 300px) / (1600 - 300)));
	font-variation-settings: "wght" 280;
	line-height: 1.4;
	margin: 0.2rem 0 0.8rem 0;
	padding: 0;
}

h2 {
	font-size: rem(24);
	font-variation-settings: "wght" 350;
	line-height: 1.2;
	margin: 0.4rem 0 0.6rem 0;
	padding: 0;
	@include respond-to("large") {
		margin: 0.4rem 0 0.6rem -1rem;
	}
}

h3 {
	font-size: rem(13);
	font-variation-settings: "wght" 500;
	line-height: 1.4;
	letter-spacing: 1px;
	margin: 0 0 1rem 0;
	padding: 0;
	text-transform: uppercase;
}

p {
	font-size: calc(17px + (20 - 17) * ((100vw - 300px) / (1600 - 300)));
	font-variation-settings: "wght" 300;
	line-height: 1.6;
	margin: 0.2rem 0 1.2rem 0;
	padding: 0;
	a {
		color: $color--dark;
		text-decoration: none;
	}
	
}
address { margin: 0 0 1.5rem; }

b,
strong {
	font-variation-settings: "wght" 400;
}

small {
	font-size: rem(12);
	line-height: 1.2;
}

em {
	font-variation-settings: "wght" 300;
}

code {
	background-color: $color--dark;
	font-size: rem(13);
	color: $color--light;
	padding: 1rem;
	display: block;
	line-height: 2;
	margin: 1rem 0 1rem 1rem;
	box-shadow:
		1px 1px 0 0 $color--light,
		4px 4px 0 0 $color--dark;
}