/* ~~~~~~~~~~~~~~~~~~~~~
Theme typography
~~~~~~~~~~~~~~~~~~~~~ */
h1 {
	font-size: calc(28px + (32 - 28) * ((100vw - 300px) / (1600 - 300)));

	font-variation-settings: "wght" 300;
	line-height: 1.2;
	margin: 0.2rem 0 1rem 0;
	padding: 0;
}

h2 {
	font-size: rem(24);
	font-variation-settings: "wght" 400;
	line-height: 1.2;
	margin: 0.4 0 1rem 0;
	padding: 0;
}

h3 {
	font-size: rem(13);
	font-variation-settings: "wght" 500;
	line-height: 1.4;
	letter-spacing: 1px;
	margin: 0 0 1.4rem 0;
	padding: 0;
	text-transform: uppercase;
}

p {
	font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
	font-variation-settings: "wght" 300;
	line-height: 1.4;
	margin: 0 0 1.4rem 0;
	padding: 0;
	a {
		color: $color--dark;
		text-decoration: none;
	}
}
address { margin: 0 0 1.5rem; }

b,
strong {
	font-variation-settings: "wght" 400;
}

small {
	font-size: rem(12);
	line-height: 1.2;
}

em {
	font-variation-settings: "wght" 300;
}
