/* ~~~~~~~~~~~~~~~~~~~~~~~~~ 
Theme variables
~~~~~~~~~~~~~~~~~~~~~~~~~ */
  $font--primary:      "Frutiger Neue Variable W05 Rm", Helvetica, Arial, sans-serif;

  $color--dark:       #1a1a1a;
  $color--light:      #fff;
    
  $breakpoints: (
   'medium':          (min-width: 800px),
   'large':           (min-width: 1000px),
   'huge':            (min-width: 1200px),
  );

  $pageWidth:         90%;

