/* ==========================================================================
   Footer
   ========================================================================== */
	 .siteFooter {
		 margin: 4rem auto;
		 width: 100%;
		 max-width: $pageWidth;
		 padding: 0 1rem;
		p {
			font-size: rem(13);
		}
		a {
			display: inline-block;
			&:hover {
				background-color: $color--dark;
				color: $color--light;
			}
		}
	 }
