/* ==========================================================================
   Footer
   ========================================================================== */
	 .siteFooter {
		 margin: 4rem auto;
		 width: 100%;
		 max-width: $pageWidth;
		 padding: 0 1rem;

		 display: flex;
		 flex-flow: row wrap;
		p {
			font-size: rem(13);
		}
		a {
			text-decoration-line: underline ;
			text-decoration-style: wavy;
			padding: 0 0.5rem;
			display: inline-block;
			&:hover {
				text-decoration-style: none;
				text-decoration: underline ;

			}
		}
		.footerNav {
			display: flex;
			flex-flow: row nowrap;
			font-size: rem(13);
			list-style: none;
			padding: 0;
			margin: 0;

		}
	 }
