.siteHeader {
  margin: 0 auto 1rem auto;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100%;
  max-width: $pageWidth;
  padding: 0 1rem;
}

.brandLogo__link {
  display: inline-block;
  .brandLogo {
    // fill: $color--light;
    fill: $color--dark;
    width: rem(34);
  }
}
