.mainPage {
  grid-row-start: 2;
  padding: $space-none $space-m;
  @include respond-to("medium"){
    padding: $space-none $space-l;
  }
}
.layout--grid {
  .layout {
    display: grid;
    padding: 0;
    &.notes {
      grid-template-columns: 1fr;
    }
  }
}
