{{ define "main"}}
	<article class="designSingle__article">
		<header class="content__header">
			<h1 class="articleHeader__heading">{{ .Title }}</h1>
			<p class="heading_tagline">
				{{ .Params.label }}
			</p>
		</header>
		
		<section class="layout single--{{ .Params.slug }}">
			<div class="content__image">
				{{ range .Params.images }}
					<img src="{{ . }}" alt="">
				{{ end }}
			</div>
			<div class="content__excerpt">
				<p>
					{{ .Description }}
				</p>
			</div>
		</section>
		<section class="content__full {{ .Params.slug }}">
			{{ .Content }}
		</section>
	</article>
{{ end }}
