/* ~~~~~~~~~~~~~~~~~~~~~~~~~ 
Design section
~~~~~~~~~~~~~~~~~~~~~~~~~ */

.pageDiseno {
  max-width: $pageWidth;
  margin: 0 auto;  
  &__item {
    position: relative;
      [aria-label]:after {
        display: none;
        
        @media (hover: none) and (pointer: coarse) {
          display: none;
        }

        @include respond-to("medium") {
          display: block;
          visibility: hidden;
          content: attr(aria-label);
          font-size: calc(20px + (30 - 20) * ((200vw - 300px) / (1600 - 300)));
          font-variation-settings: "wght" 400;
          opacity: 0;
          line-height: 1.2;
          padding: .15rem 1rem .5rem 1rem;
          transition: transform .4s ease-in-out, opacity .4s ease-in-out;
        }
      }
      [aria-label]:hover:after, [aria-label]:focus:after {
        visibility: visible;
        opacity: 1;
      }  

      &:last-child a {
        margin-top: 3rem;
       font-variation-settings: "wght" 700;

        &::before {
          content: "—";
        }
      }
    }

    &__link {
      color: $color--primary;
      display: flex;
        flex-flow: row nowrap;
      font-size: calc(20px + (30 - 20) * ((200vw - 300px) / (1600 - 300)));
      text-decoration: none;
      font-variation-settings: "wght" 900;
      line-height: 1.2;
      padding: .15rem 1rem .5rem 0;
      transition: transform .4s ease-in-out;
      
      &:focus {
        outline: 1px dotted $color--dark;
      }
      &:hover {
        transform: translateX(-1rem);
      }
    }
  }


/* ~~~~~~~~~~~~~~~~~~~~~~~~~ 
Design single
~~~~~~~~~~~~~~~~~~~~~~~~~ */


  .designSingle {
    &__article {
     .layout {
       display: grid;
       grid-template-columns: 1fr;
       gap: 2rem;
       max-width: rem(900);
        margin: 0 auto;
      @include respond-to("medium"){
        grid-template-columns: 1fr 1fr;
      }
      &--full{
        max-width: rem(900);
        margin: 1rem auto;
        padding: 2rem 1rem;
        
        &.almanaque {
          max-width: none;
          margin: 0 auto;
          background-color: $color--light;
          background-size: rem(9) rem(9);
          background-image: radial-gradient(circle, $color--dark 0.5px, rgba(0, 0, 0, 0) 0.5px);
          padding: 2rem 0;

          h3 {
            transform: rotate(-90deg);
            transform-origin: center center;
            display: inline-block;
          }
          .item__layout {
            display: grid;
            gap: .25rem;
            grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
            margin-bottom: 3rem;
            .itemImage {
              padding: 1rem;

              &.highlight {
                grid-column: span 2;
              }       
              img {
                transition: transform .4s ease;
                &:hover {
                  transform: scale(1.15);
                  border: 4px solid $color--light;
                }
              }
            }
          }
         }

      }
     }
    }
    &__header {
      grid-column: span 2;
      text-align: center;
      margin-bottom: 2rem;
    }
    &__title {
      font-size: calc(34px + (48 - 34) * ((100vw - 300px) / (1600 - 300)));
      margin-bottom: 0.4rem;
      margin-top: 1rem;
	  font-weight: 500;
    }
    &__tagline {
      font-size: calc(15px + (17 - 15) * ((100vw - 300px) / (1600 - 300)));
      margin: 0;
    }
    &__image {
    }
    &__excerpt p {
      font-size: calc(22px + (30 - 22) * ((100vw - 300px) / (1600 - 300)));
      padding: 0 1rem;
    }
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    margin-bottom: 2rem;
  }
  .video-embedded {
    margin-bottom: 2rem;
  }