/* ~~~~~~~~~~~~~~~~~~~~~~~~~ 
Information page
~~~~~~~~~~~~~~~~~~~~~~~~~ */
.pageInfo {
    &__content {
        max-width: $pageWidth;
        margin: 0 auto;
        padding: 0;
        h1 {
            max-width: 40ch;
        }
        p {
            max-width: 64ch;
        }
		
    }
    &__grid {
        margin: 4rem auto;
        padding: 1rem 0 4rem 0;
        background-color: $color--light;
        background-size: rem(9) rem(9);
        background-image: radial-gradient(circle, rgba($color--primary,0.5) 0.5px, rgba(0, 0, 0, 0) 0.5px);
        h3 {
            margin: 1rem;
			text-align: center;
			padding: 2rem 0;
        }
        ol {
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(175px,1fr));
            gap: 2rem;
            
            list-style-type: none;
            margin: 0;
            padding: 0 1rem;

            font-size: rem(15);
			a {
				&:hover {
					text-decoration: underline;
					text-decoration-style: dotted;
					text-decoration-thickness: 2px;
				}
			}
            li {
                counter-increment: section;
                padding: 0 0 0.5rem 0.5rem;

                &:before {
                    font-size: rem(13);
                    content: counter(section,upper-alpha);
                    display: block;
                    font-synthesis: none;
                    // font-variation-settings: 'wght' 800, 'ital' 1;
                    margin-left: 0;
                    background-color: $color--primary;
					color: $color--light;
                    padding: 0.15rem;
					display: inline-block;
					border-radius: 999px;
					height: rem(20);
					width: rem(20);
					text-align: center;
                }
                &:nth-child(odd) {
                    &:before {
                    }
                }
                
                ul {
                    counter-reset: section;
                    list-style: none;
                    padding: 0;
                    display: flex;
                    flex-flow: column wrap;
                    li {
                        border: none;
                        line-height: 1.4;
                        padding: 0;
                        margin: 0;
                        &:before {
                            border-bottom: none;
                            content: "";
                            margin: 0;
							background-color: transparent;
							display: block;
							height: 0;
                        }
                    }
                    
                }
            }
        }
    }
}
