#mc_embed_signup {
	background-color: rgba($brand-black,.05);
	padding: 2em 1em;

	.form-items {
		display: flex;
		flex-flow: column wrap;
		justify-content: flex-start;
		align-items: flex-start;
		margin-bottom: .5em;
	}
	.form-input {
		flex: 1 1 auto;
		border: 0;
		border-bottom: 1px solid $brand-black;
		font-size: 1em;
		font-weight: 700;
		padding: .5em 0;
		margin: 0 0 1em 0;
		background-color: transparent;
		&.mce_inline_error {
			border-color:#ff6e42;
		}
	}
	.button {
		background-color: $brand-black;
		padding: .5em 1em;
		color: #fff;
		font-size: 1em;
		border: 0;
		outline: 0;
		cursor: pointer;
		transition: all .4s ease-out;
		border-bottom: 4px solid transparent;

		&:hover {
			background-color: rgba($brand-black,.5);
			border-bottom: 4px solid rgba($brand-black,.3);
		}
	}
	.mc-field-group {
		width: 100%;
		position: relative;
		div.mce_inline_error {
			background-color: transparent;
			font-weight: 300;
			font-size: em(14);
			padding: 0;
			text-align: left;
			z-index: 1;
			color:#ff6e42;
		}
	}
	.referal {
		padding: 2em 0 0 0;
		color: rgba($brand-black, .5);
		display: inline-block;
		a {
			color: inherit;
		}
	}
}

/*  ==========================================================================
    MQ
    ========================================================================== */

		@media (min-width: $break-small) {
			#mc_embed_signup {
				.form-items {
					flex-flow: row wrap;
					justify-content: space-around;
					align-items: baseline;
				}
				.form-input {
					margin: 0 1em 1em 1em;
				}
				.mc-field-group {
					div.mce_inline_error {
						padding: 0 1em;
						text-align: center;
					}
				}
			}

		}
		@media (min-width: $break-medium) {
			#mc_embed_signup {
				margin: 0 2em 2em 2em;
				padding: 2em;
			}

		}
