#mc_embed_signup {
	.form-items {
		display: flex;
		flex-flow: column wrap;
		justify-content: flex-start;
		align-items: stretch;
		margin-bottom: .5em;
	}
	.form-input {
		flex: 0 0 auto;
		background-color: #fff;
		border: 0;
		border-bottom: 1px solid $color--dark;
		font-size: 1em;
		font-weight: 700;
		padding: .5em 0;
		margin: 0 0 1em 0;
		appearance: none;

		&.mce_inline_error {
			border-color:#ff6e42;
		}
	}
	.button {
		flex: 0 0 auto;
		align-self: flex-start;
		background-color: $color--dark;
		padding: .5em 1em;
		color: #fff;
		font-size: 1em;
		border: 0;
		outline: 0;
		cursor: pointer;
		transition: all .4s ease-out;
		border-bottom: 4px solid transparent;
		appearance: none;

		&:hover {
			background-color: rgba($color--dark,.5);
			border-bottom: 4px solid rgba($color--dark,.3);
		}
	}
	.mc-field-group {
		width: 100%;
		position: relative;
		div.mce_inline_error {
			background-color: transparent;
			font-weight: 300;
			font-size: em(14);
			padding: 0;
			text-align: left;
			z-index: 1;
			color:#ff6e42;
		}
	}
	.referal {
		padding: 2em 0 0 0;
		color: rgba($color--dark, .5);
		display: inline-block;
		a {
			color: inherit;
		}
	}
}

/*  ==========================================================================
    Newsletter list
    ========================================================================== */
		.display_archive {
			margin-bottom: 4em;
			.campaign {
				margin-bottom: 1em;
				font-weight: 700;
				font-size: em(14);
				a {
					font-weight: 400;
				}
				&:first-child {
					padding: 1em;
					margin: 0 0 2em 0;
					border-left: 4px solid rgba($color--dark,.25);
				}
			}
		}
