/* ~~~~~~~~~~~~~~~~~~~~~~~~~ 
Newsletter page
~~~~~~~~~~~~~~~~~~~~~~~~~ */


.pageNewsletter {
    &__content {
        max-width: $pageWidth;
        margin: 0 auto;
        padding: 0 1rem;
        h1 {
            max-width: 35ch;
        }
        p {
            max-width: 55ch;
        }
    }
}
#mc_embed_signup {
	margin-bottom: 2rem;
	.subscribeForm {
		display: grid;
		grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
		grid-auto-rows: auto;
		gap: 1rem 2rem;
	}
	#mce-responses {
		grid-column: 1 / -1;
		grid-row: -1;
	}
	.mc-field-group {
		position: relative;
		display: flex;
		flex-flow: column wrap;
		grid-row: auto;

		label {
			font-size: rem(13);
			margin-bottom: 0.25rem;
		}
		.text-input {
			background-color: #fff;
			border: 0;
			border-bottom: 1px solid $color--dark;
			font-size: rem(18);
			padding: .5rem 0;
			margin: 0;
			appearance: none;
	
			&.mce_inline_error {
				border-color:#ff6e42;
			}
		}
		::-moz-placeholder {
			color: hsl(0,0,50%);
			font-variation-settings: 'wght' 200;
		}
		div.mce_inline_error {
			background-color: transparent;
			font-weight: 300;
			font-size: rem(14);
			padding: 0;
			text-align: left;
			z-index: 1;
			color:#ff6e42;
		}
	}
	.submit {
		grid-column: 1 / -1;
		grid-row: auto;
		.button {
			background-color: $color--dark;
			padding: .5rem 1rem;
			color: $color--light;
			font-size: rem(18);
			border: 0;
			outline: 0;
			cursor: pointer;
			transition: all .4s ease-out;
			appearance: none;
			display: inline-flex;
			align-self: baseline;
			&:hover {
				background-color: rgba($color--dark,.5);
			}
		}
	}
	
	.referal {
		padding: 0.5rem 0 0 0;
		color: rgba($color--dark, .5);
		display: inline-block;
		a {
			color: inherit;
		}
	}
}

/*  ==========================================================================
    Newsletter list
    ========================================================================== */
		.display_archive {
			margin-bottom: 4em;
			.campaign {
				font-weight: 700;
				font-size: rem(14);
				border-bottom: 1px solid $color--dark;
				padding: 1rem 0;
				a {
					font-weight: 400;
				}
				&:first-child {
					padding: 1rem;
					margin: 0 0 2rem 0;
					border-left: 4px solid $color--dark;
					border-bottom: none;
				}
			}
		}
