/* ~~~~~~~~~~~~~~~~~~~~~~~~~ 
Notes list
~~~~~~~~~~~~~~~~~~~~~~~~~ */

.notesArticle {
    border-top: 1px solid $color--primary;
    margin: 0;
    padding: $space-none $space-xl;
    display: grid;
    grid-template-columns: rem(24) 2fr auto;
    gap: 1rem;
    align-items: baseline;
    
    grid-column: 1 / 3;
    
    &.recent__note {
      grid-column: 1 / 3;
      padding: $space-m $space-xl;
      background-color: $color--lighter;
      & .notesArticle__title {
        font-size: rem(28);
        margin: 0;
      }
      & .notesArticle__link {
        grid-column: 2 / -1;
        @include respond-to('medium') {
          grid-column: 2 / 3;
        }
      }
      & .notesArticle__time {
        grid-column: 1 / -1;
        @include respond-to('medium') {
          grid-column: 3 / -1;
        }
      }
      & .notesArticle__number {
        margin: 0 0 0 0;
      }
      @include respond-to('medium') {
      }
    }
    &:last-child {
      border-bottom: 1px solid $color--primary;
    }

    &__number {
      font-size: $font-s;
      text-transform: uppercase;
      line-height: 1;
      padding: 0;
      margin: 0;
      font-variant-numeric: lining-nums;
    }
    &__time {
      font-size: $font-s;
    }
    &__title {
      font-size: $font-m;
      text-decoration: none;
      display: inline-block;
    }
    &__link {
      text-decoration: none;
      display: inline-block;
    }
    &__legend {
      grid-column: 1 / -1;
      font-size: $font-m;
      @include respond-to('medium') {
        grid-column: 2/-1;
		-webkit-line-clamp: 3;
      max-width: rem(600);
      }
    }
  }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~ 
Notes single
~~~~~~~~~~~~~~~~~~~~~~~~~ */
.page .mainNotas {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  padding: $space-none;
  width: 100%;
  @include respond-to("medium"){
    grid-template-columns: 1fr;
  }
} 
.notesNav {
    font-variant-numeric: lining-nums;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: $space-none;
    padding: $space-none $space-m;
    min-height: rem(48);
    &::-webkit-scrollbar {
      display: none;
    }
    @include respond-to("medium"){
      padding: $space-none $space-l;
    }
    &__list {
        padding: $space-none;
        margin: $space-none;
        list-style: none;
        display: inline-flex;
        flex-flow: row nowrap;
        gap: $space-none $space-l;
        li {
          flex: 0 0 auto;
        }
    }
    .post_id {
      margin-right: $space-xs;
    }
    &__link {
        font-size: $font-xs;
        color: $color--primary;
        display: inline-flex;
        flex-flow: row nowrap;
        margin: 0;
        text-decoration: none;
        padding: 0.25rem;
        line-height: 1.4;
        transition: padding 1s ease;
        background-color: rgba($color--primary,0.04);
        border-radius: 6px;
        &::after {
          content: "➞";
          padding: 0 $space-s 0 0.5rem;
          transition: padding 0.7s ease;
          margin-left: auto;

        }
        &:hover {
          text-decoration: none;
          background-color: rgba($color--primary,0.1);
          &::after {
            padding: 0 $space-xs 0 1rem;
          }
        }
        .post_id {
          font-family: $font--bold;
        }
    }
}
.singleArticle {
  margin: 0 auto;
  padding: $space-none $space-m;
  max-width: rem(750);
  font-variant-numeric: lining-nums;
  @include respond-to("medium"){
    padding: $space-none $space-l;
  }
    &__title {
      font-family: $font--bold;
    }
    &__number {
      display: inline-block;
      font-size: $font-xs;
      padding: $space-xs;
      border-radius: 999px;
      background-color: $color--primary;
      color: $color--light;
    }
    &__info {
      font-size: $font-xs;
    }
    &__time {
      margin-right: 1rem;
    }
    &__reading {
    }
    &__wordcount {
    }
    &__excerpt {
      margin: $space-m $space-none;
      p {
        // font-variation-settings: "wght" 500;
        font-size: $font-l;
        line-height: 1.4;
      }
    }
    &__content {}

}