/* ~~~~~~~~~~~~~~~~~~~~~~~~~ 
Notes list
~~~~~~~~~~~~~~~~~~~~~~~~~ */

.notesArticle {
    border-top: 1px solid $color--dark;
    padding: 0.5rem 2rem;
    
    display: grid;
    grid-template-columns: rem(24) 2fr auto;
    gap: 1rem;
    align-items: baseline;
    
    grid-column: 1 / 3;
    
    &.recent__note {
      border-top: none;
      
      grid-column: 1 / 3;
      display: grid;
      grid-template-columns: 1fr;
      gap: 0;

      & .notesArticle__title {
        font-size: rem(28);
        margin-bottom: 0.5rem;
      }
      & .notesArticle__number {
        margin: 0 0 0 -1rem;
      }
    }
    &:last-child {
      border-bottom: 1px solid $color--dark;
    }

    &__number {
      color: $color--dark;
      font-size: rem(13);
      text-transform: uppercase;
      line-height: 1;
      padding: 0;
      margin: 0;
    }
    &__time {
      font-size: rem(14);
    }
    &__title {
      font-size: rem(18);
      text-decoration: none;
      margin-bottom: 0;
      line-height: 1;
    }
    &__link {
      text-decoration: none;
      margin: 0;
    }
    &__legend {
      font-size: rem(18);
      color: $color--dark;
      margin-top: 1rem;
    }
  }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~ 
Notes single
~~~~~~~~~~~~~~~~~~~~~~~~~ */
.page .mainNotas {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0 4rem;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: $pageWidth;
  @include respond-to("medium"){
    grid-template-columns: 2fr 1fr;
  }
} 
.notesNav {
    &__list {
        list-style: none;
        padding: 0 1rem;
    
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        li {
          margin-bottom: 0.5rem;
        }
    }
    &__link {
        font-size: rem(13);
        color: $color--dark;
        display: block;
        margin: 0;
        text-decoration: none;
        padding: 0;
        line-height: 1.4;
        transition: padding 1s ease;
        &::after {
          content: "➞";
          padding: 0 1rem 0 0.5rem;
        transition: padding 1s ease;

        }
        &:hover {
          text-decoration: none;
          &::after {
            padding: 0 0.5rem 0 1rem;
          }
        }
        .post_id {
          font-variation-settings: "wght" 500;
        }
    }
}
.singleArticle {
  margin: 0;
  padding: 0;
    &__title {
      display: inline-block;
    }
    &__number {
      display: inline-block;
      margin-left: 1rem;
    }
    &__info {
      font-size: rem(14);
      display: flex;
      flex-flow: row nowrap;
      align-items: baseline;
    }
    &__time {
      margin-right: 1rem;
    }
    &__reading {
      margin-right: 1rem;
    }
    &__wordcount {}
    &__excerpt {
      margin: 2rem 1rem;
      @include respond-to("huge"){
        margin: 2rem 0 2rem -2rem ;
      }
      p {
        font-variation-settings: "wght" 500;
        font-size: calc(18px + (24 - 18) * ((100vw - 300px) / (1600 - 300)));
      }
    }
    &__content {}

}