/*  ==========================================================================
    Page home
    ========================================================================== */
    .home--grid {
      .layout {
        height: 100vh;
        display: grid;
        $grid-gap: 2px;

        grid-template-columns: repeat(20,calc(5vw - #{$grid-gap}));
        grid-auto-rows: calc(6vw);
        gap: $grid-gap;
        grid-auto-flow: dense;

        @for $i from 1 through 24 {
          img:nth-of-type(#{$i}) {
            grid-column: span random(5) + 1;
            grid-row: span random(5) + 1;
            padding: random(3) / 2 + vw;
          }
        }

        .heroText {
          grid-column: 6 / 16;
          grid-row-start: 4;
          text-align: center;
          z-index: 1;
          h1 {
            text-transform: none;
          }
        }
      }
    }


/*  ==========================================================================
    Page design
    ========================================================================== */
    .design__section{
      padding: 4rem 1rem;
    }
    .design__article {
      text-align: center;
      .title__link {
        font-size: rem(92);
        line-height: 1;
        padding: 0;
        margin-bottom: 2rem;
      }
    }
/*  ==========================================================================
    Page notes
    ========================================================================== */
    .notes__article {
      // background-color: rgba($color--light,.1);
      padding: 1rem 2rem;
      position: relative;
      grid-column: 2 / 3;
      &:nth-child(1) {
        grid-column: 1 / 2;
        text-align: center;
        grid-row: 1 / span 3;
        justify-self: center;
        align-self: center;
      }
    }
    .header__legend {
      font-size: rem(13);
      text-transform: uppercase;
      margin: 0 0 .5rem 0;
      padding: 0;
      line-height: 1;
      time {
        font-style: italic;
        text-transform: none;
      }
    }
    .note__title {
      font-size: rem(36);
      display: block;
      margin-bottom: 1rem;
      text-decoration: none;
    }
    .articleCard__hole {
      position: absolute;
        right: -.75rem;
        top: -.75rem;
      circle {
        fill: $color--dark;
      }
    }
