/*  ==========================================================================
    Page home
    ========================================================================== */
    .homeContent {
      max-width: rem(900);
      margin: 0 auto;
      font-size: rem(24);
      p {
        font-size: rem(24);
        font-variation-settings: "wght" 300;
      }
    }

/*  ==========================================================================
    Page simple
    ========================================================================== */
    .simple__page {
      .layout {
        max-width: rem(700);
        margin: 0 auto;
      }
    }  
