/*  ==========================================================================
    Page
    ========================================================================== */
    .page-container {
      display: grid;
			border: 3px solid $brand-black;
			grid-template-columns: 1fr;
    }
		.side-content {
			border-top: 3px solid $brand-black;
			order: 2;
			header {
				padding: 2em 2em 0 2em;
			}
		}
    .main-container {
			order: 1;
			padding: 2em;
    }

		.images-container {
			border-top: 3px solid $brand-black;
			order: 3;
			.images-list {
				list-style: none;
				padding: 0;
				display: grid;
				grid-template-columns: 1fr 1fr;
				justify-content: center;
				justify-items: center;
			}
		}
		.articles-container {
			padding: 2em;
			order: 4;
			background-color: $brand-black;
			color: $brand-neutroLight;
			text-align: center;
			a {
				color: $brand-neutroLight;
			}
		}
	  .home-clients {
	    padding: 0 2em;
	  }
	  .client-item {
			font-size: em(24);
			font-weight: 700;
	    color: $brand-black;
			padding: 0;
			line-height: 1.4;
			display: inline-block;
	  }
		.page-footer {
			border-right: 3px solid $brand-black;
			border-bottom: 3px solid $brand-black;
			border-left: 3px solid $brand-black;
			padding: 2em;
			text-align: right;
			.footer-disclaimer {
				font-size: em(14);
				a {
					font-weight: 700;
				}
			}
		}
/*  ==========================================================================
    MQ
    ========================================================================== */

    @media (min-width: $break-medium) {
			.page-container {
				grid-template-columns: 3fr 4fr;
			}
			.main-container {
				border-left: 3px solid $brand-black;
				order: 2;
			}
			.side-content {
				order: 1;
				border: 0;
			}
			.home-clients {
				.client-item {
					font-size: em(28);
				}
			}
			.images-container {
				grid-column: span 3;
				.images-list {
					grid-template-columns: repeat(3,1fr);
				}
			}
    }
    @media (min-width: $break-large) {
      .main-container {
      }
      .side-content {
				border-top: 0;
      }
			.home-clients {
				.client-item {
					font-size: em(36);
				}
			}
			.images-container {
				.images-list {
					grid-template-columns: repeat(4,1fr);
				}
			}

    }
