/*  ==========================================================================
    Blog index
    ========================================================================== */

    .blog-article {
      width: 100%;
			float: left;
      .article-content {
        text-align: center;
      }
    }
    .archive-article {
      padding: 1em 2em;
    }

/*  ==========================================================================
    Blog general
    ========================================================================== */
    .post-date {
      font-size: em(12);
      margin: 0 auto;
      .home & {
        padding: 1em 0;
      }
    }

/*  ==========================================================================
    Single post
    ========================================================================== */
    .article-header {
      text-align: center;
    }
    .article-content {
      padding: 0 2em;
      margin-bottom: 10em;
    }
    .article-image {
      margin-bottom: 1em;
    }
    .error-404 {
      font-size: 10em;
      text-align: center;
    }
/*  ==========================================================================
    Meta box
    ========================================================================== */
    .meta-box {
      width: 100%;
			float: left;
    }
    .meta {
      &__tags {
        padding: 1em 0;
        a {
          background-color: lighten($brand-primary,50%);
          border: 1px solid transparent;
          border-radius: 2px;
          color: $brand-primary;
          font-size: em(14);
          margin-right: .5em;
          padding: .25em .5em;
          transition: all .2s ease-out;
          &:hover {
            border: 1px solid lighten($brand-primary,50%);
            background-color: #fff;
          }
        }
      }
    }

/*  ==========================================================================
    MQ
    ========================================================================== */
    @media (min-width: $break-large) {
    }
