{{ partial "header.html" . }}


	<main id="primary" class="page-container">
		<div class="side-content">
			<header>
				<h3>Algunos proyectos de diseño y front-end.</h3>
			</header>
			<div class="home-clients">
				<p>
					<a class="client-item link-underline-reverse" href="http://auxpama.net" target="_blank" rel="noopener noreferrer">Auxpama</a>,
					<a class="client-item link-underline-reverse" href="https://alamareditions.com" target="_blank" rel="noopener noreferrer">Alamar</a>,
					<a class="client-item link-underline-reverse" href="http://enblanco-studio.de" target="_blank" rel="noopener noreferrer">enblanco Studio</a>,
					<a class="client-item link-underline-reverse" href="http://infoplc.net" target="_blank" rel="noopener noreferrer">Info PLC</a>,
					<a class="client-item link-underline-reverse" href="http://pauesteve.net" target="_blank" rel="noopener noreferrer">Pau Esteve</a>,
					<a class="client-item link-underline-reverse" href="http://santaritagastronomica.com/" target="_blank" rel="noopener noreferrer">Santa Rita</a>,
					<a class="client-item link-underline-reverse" href="http://smokingbrains.com" target="_blank" rel="noopener noreferrer">Smoking Brains</a>,
					<a class="client-item link-underline-reverse" href="http://www.urtzialkain.eus" target="_blank" rel="noopener noreferrer">Urtzi Alkain</a>,
					<a class="client-item link-underline-reverse" href="http://vinazorzalwines.com" target="_blank" rel="noopener noreferrer">Viña Zorzal</a>,
					<a class="client-item link-underline-reverse" href="https://zabriskie.de" target="_blank" rel="noopener noreferrer">Zabriskie</a>.
				</p>
			</div>
		</div>

		<div class="main-container">
			<header>
				{{ partial "menu.html" . }}
			</header>

			<div class="content-module section-description">
				<p>Diseño digital, identidad y front-end. Trabajo con clientes y proyectos donde puedo involucrarme, conocer el negocio y conseguir objetivos conjuntamente. Llevo más de 15 años involucrado en la adaptación del diseño a medios y plataformas digitales, colaborando con clientes y proyectos de pequeñas y grandes empresas.</p>
				<p>Actualmente no tengo disponibilidad para nuevos proyectos, pero si tienes un una idea que quieres comentar o un proyecto a largo plazo, puedes enviarme un email.</p>
				<p><a href="mailto:hola@ricardofelix.es" target="_blank" rel="noopener noreferrer">Mail</a>,
				<a href="https://twitter.com/_ricardo_felix" target="_blank" rel="noopener noreferrer">Twitter</a>,
				<a class="" href="https://dribbble.com/ricardofelix">Dribble</a>.

				<p>También publico un newsletter, <a href="{{ .Site.BaseURL }}entretiempo">Entretiempo</a>.</p>
			</div>
		</div>

		<div class="images-container">
			<ul class="images-list">

				<li>
					<img src="{{ .Site.BaseURL }}images/debut_logo_ricardofelix.jpg" alt="Logotipo Debut">
				</li>
				<li>
					<img src="{{ .Site.BaseURL }}images/vcard-debut_ricardofelix.jpg" alt="Tarjeta de visita Debut">
				</li>
				<li>
					<img src="{{ .Site.BaseURL }}images/ursus_logo_ricardofelix.jpg" alt="Logotipo Ursus Polaris">
				</li>
				<li>
					<img src="{{ .Site.BaseURL }}images/buffalo_poster_ricardofelix.jpg" alt="Poster concierto de Buffalo">
				</li>
				<li>
					<img src="{{ .Site.BaseURL }}images/cas_logo_ricardofelix.jpg" alt="Logotipo CAS_14">
				</li>
				<li>
					<img src="{{ .Site.BaseURL }}images/taranna_logo_ricardofelix.jpg" alt="Logotipo Taranna">
				</li>
				<li>
					<img src="{{ .Site.BaseURL }}images/sb_symbol_ricardofelix.jpg" alt="Gráfico de la identidad corporativa para Smoking Brains">
				</li>
				<li>
					<img src="{{ .Site.BaseURL }}images/sb_monogram_ricardofelix.jpg" alt="Monograma para Smoking Brains">
				</li>
				<li>
					<img src="{{ .Site.BaseURL }}images/ursus_symbol_ricardofelix.jpg" alt="Símbolo para Ursus Polaris">
				</li>
				<li>
					<img src="{{ .Site.BaseURL }}images/marmar_monogram_ricardofelix.jpg" alt="Monograma para Marmar">
				</li>
			</ul>
		</div>
	</main>



{{ partial "footer.html" . }}
