{{ partial "header.html" . }}

<div id="page">
	<main id="primary" class="page-container">
		<div class="side-content">
			<header>
				<h3>Algunos proyectos de diseño y front-end.</h3>
			</header>
			<div class="home-clients">
				<p>
					<a class="client-item link-underline-reverse" href="http://auxpama.net" target="_blank" rel="noopener">Auxpama</a>,
					<a class="client-item link-underline-reverse" href="https://alamareditions.com" target="_blank" rel="noopener">Alamar</a>,
					<a class="client-item link-underline-reverse" href="http://enblanco-studio.de" target="_blank" rel="noopener">enblanco Studio</a>,
					<a class="client-item link-underline-reverse" href="http://infoplc.net" target="_blank" rel="noopener">Info PLC</a>,
					<a class="client-item link-underline-reverse" href="http://pauesteve.net" target="_blank" rel="noopener">Pau Esteve</a>,
					<a class="client-item link-underline-reverse" href="http://santaritagastronomica.com/" target="_blank" rel="noopener">Santa Rita</a>,
					<a class="client-item link-underline-reverse" href="http://smokingbrains.com" target="_blank" rel="noopener">Smoking Brains</a>,
					<a class="client-item link-underline-reverse" href="http://www.urtzialkain.eus" target="_blank" rel="noopener">Urtzi Alkain</a>,
					<a class="client-item link-underline-reverse" href="http://vinazorzalwines.com" target="_blank" rel="noopener">Viña Zorzal</a>,
					<a class="client-item link-underline-reverse" href="https://zabriskie.de" target="_blank" rel="noopener">Zabriskie</a>.
				</p>
			</div>
		</div>
		<div class="main-container">
			<div class="nav-container">
				<div class="brand-container">
						<p>Ricardo Félix</p>
				</div>
			</div>
			<div class="home-content">
				<div class="content-module">
					<p>Diseño digital, identidad y front-end. Trabajo con clientes y proyectos donde puedo involucrarme, conocer el negocio y conseguir objetivos conjuntamente. Llevo más de 15 años involucrado en la adaptación del diseño a medios y plataformas digitales, colaborando con lientes y proyectos de pequeñas y grandes empresas.</p>
					<p>Si tienes un proyecto, y crees que podemos trabajar juntos, envíame un mail.</p>
					<p><a href="mailto:hola@ricardofelix.es" target="_blank" rel="noopener">Mail</a><br />
					<a href="http://twitter.com/_ricardo_felix" target="_blank" rel="noopener">Twitter</a><br>
					<a class="" href="https://dribbble.com/ricardofelix">Dribble</a><br>
					<a href="https://www.instagram.com/ricardofelixdesign/">Instagram</a></p>
				</div>
			</div>
		</div>
		<div class="images-container">
			<ul class="images-list">
				<li>
					<img src="{{ .Site.BaseURL }}images/cas_logo_ricardofelix.png" alt="">
				</li>
				<li>
					<img src="{{ .Site.BaseURL }}images/debut_logo_ricardofelix.png" alt="">
				</li>
				<li>
					<img src="{{ .Site.BaseURL }}images/marmar_monogram_ricardofelix.png" alt="">
				</li>
				<li>
					<img src="{{ .Site.BaseURL }}images/taranna_logo_ricardofelix.png" alt="">
				</li>
				<li>
					<img src="{{ .Site.BaseURL }}images/sb_symbol_ricardofelix.png" alt="">
				</li>
				<li>
					<img src="{{ .Site.BaseURL }}images/sb_monogram_ricardofelix.png" alt="">
				</li>
				<li>
					<img src="{{ .Site.BaseURL }}images/ursus_symbol_ricardofelix.png" alt="">
				</li>
			</ul>
		</div>
		<!-- <div class="articles-container">
			{{ range first 10 .Data.Pages }}
				<div>
					<h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
					{{ .Summary }}
				</div>
				{{ if .Truncated }}
				<div>
					<a href="{{ .RelPermalink }}">Read More…</a>
				</div>
				{{ end }}
			{{ end }}
		</div> -->
	</main>
</div>



{{ partial "footer.html" . }}
