/* ==========================================================================
   Footer
   ========================================================================== */
	 .page-footer {
		 border-right: 3px solid $brand-black;
		 border-bottom: 3px solid $brand-black;
		 border-left: 3px solid $brand-black;
		 margin-bottom: .5em;
		 padding: 2em 1em;
		 text-align: left;
		 .footer-disclaimer {
			 font-size: em(14);
			 a {
				 font-weight: 700;
				 &:before {
 	        height: 2px;
 				}
			 }
		 }
	 }

/* ==========================================================================
   MQ
   ========================================================================== */
   @media (min-width: $break-medium) {
		 .page-footer {
			 text-align: right;
			 padding: 2em;
		 }
	 }
