/* ==========================================================================
   Footer
   ========================================================================== */
	 .pageFooter {
		 display: grid;
		 grid-template-columns:1fr;
		 padding: 4rem 1rem;
		 .cell {
			 p {
				 font-size: rem(15);
			 }
			 a {
				 font-style: italic;
				 font-weight: 400;
			 }
		 }
	 }
