{{ define "main"}}
	<article class="singleArticle">
		<header class="singleArticle__header">
			<h1 class="singleArticle__title">{{ .Title }}</h1>
			<span class="singleArticle__number">
				Nota nº{{.Params.postNumber}}
			</span>
			<div class="singleArticle__info">
				<time class="singleArticle__time" datetime="{{dateFormat "02-01-2006" .PublishDate.Local}}">
					{{index $.Site.Data.dia (printf "%d" .PublishDate.Weekday) }}, {{ .PublishDate.Day }} de {{ index $.Site.Data.mes (printf "%d" .PublishDate.Month) }}. {{ .PublishDate.Year }}
				</time>
				<span class="singleArticle__reading">
					{{.ReadingTime}}m. de lectura
				</span>
				<span class="singleArticle__wordcount">
					{{.WordCount}} palabras
				</span>
			</div>
		</header>
		<section class="singleArticle__excerpt">
			<p>
				{{ .Description }}
			</p>
		</section>
		<section class="singleArticle__content">
			{{ .Content }}
		</section>		
	</article>
	{{ with .Site.GetPage "/notas" }}
	<nav class="notesNav">
		<ul class="notesNav__list">
			<h3>
				☛ Notas
			</h3>
			{{ range .Pages.ByPublishDate.Reverse }}
				<li>
					<a class="notesNav__link" href="{{.Permalink}}" rel="noopener" aria-label="{{ .Title }}">
						<span class="post_id">
							N{{.Params.postNumber}}
						</span>
						{{ .Title }}
					</a>	
				</li>
			{{ end }}
		</ul>
	</nav>
	{{ end }}
{{ end }}
