{{ define "main"}}
	{{ with .Site.GetPage "/notas" }}
	<nav class="notesNav">
		<ul class="notesNav__list">
			{{ range .Pages.ByPublishDate.Reverse }}
				<li>
					<a class="notesNav__link" href="{{.Permalink}}" rel="noopener" aria-label="{{ .Title }}">
						<span class="post_id">
							N{{.Params.postNumber}}
						</span>
						{{ .Title }}
					</a>	
				</li>
			{{ end }}
		</ul>
	</nav>
	{{ end }}
	<article class="singleArticle">
		<header class="singleArticle__header">
			<h1 class="h3">{{ .Title }}</h1>
			{{.ReadingTime}}´
			{{.WordCount}} palabras
		</header>
		<section class="singleArticle__content">
			<p>
				{{ .Description }}
			</p>
			{{ .Content }}
		</section>		
	</article>
{{ end }}
